<!DOCTYPE html>
<html>
    <head>
        Manage User
    </head>
    <body>
      <div class="row">
        <div class="col-sm-6">
        <h2 >This is ManageUser Page</h2></div>
        <div class="col-sm-6">
        <button  class="btn btn-info" id="addUser" (click)="clickedModal()">Add User</button>
          </div>
      </div>

      <table class="table table-dark" >
            <thead>
              <tr>
                <th scope="col">Usar Name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of userInfo">
                <td>{{row.username}}</td>
                <td>{{row.email}}</td>
                <td>{{row.age}}</td>
                <td>{{row.birthdate}}</td>
                <td>{{row.role}}</td>
                <td><button id="{{row.username}} information"(click)="removeUser(row.username)" class="btn btn-danger">DELETE</button></td>
              </tr>
              
            </tbody>
          </table>
    </body>
</html>



<!-- Modal -->
<div class="pt-4">
</div>

<!-- Modal -->
<div [ngClass]="modal ? 'modal fade show d-block' : 'modal fade'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" (click)="clickedModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form">
          <h3>EDIT DETAIL</h3>
          <div>
              <a>USERNAME: </a>
              <br>
              <input type="text"  [(ngModel)]="form.e_username" name="username" id="addusername" class="form-control">
          </div>
          <div>
              <a>BIRTHDATE: </a><br>
              <input type="text"  [(ngModel)]="form.e_birthdate" name="username" id="addbirthdate" class="form-control">
          </div>
          <div>
              <a>AGE: </a><br>
              <input type="text"  [(ngModel)]="form.e_age" name="username" id="addage" class="form-control">
          </div>
          <div>
              <a>EMAIL: </a><br>
              <input type="text"  [(ngModel)]="form.e_email" name="username" id="addemail" class="form-control">
          </div>
          <div>
              <a>ROLE:</a><br>
              <input type="text"  [(ngModel)]="form.e_role" name="username" id="addrole" class="form-control">
          </div><br>
          <div>
              <a>Password: </a><br>
              <input type="text"  [(ngModel)]="form.e_pwd" name="username" id="addpassword" class="form-control">
          </div><br>
          <button type="submit" (click)="addUser()" id="adduserbutton" class="btn btn-primary">submit</button>

          </form>

    </div>
  </div>
</div>

